body {
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.loading {
  position: relative;
  background: transparent;
  text-align: center;
  width: 150px;
  height: 150px;
}

.loading::after {
  content: "";
  position: absolute;
  border: 8px solid #76a3cb;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-color: black;
}
