.select-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.select-box {
  width: 750px;
  height: 90px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  margin-right: 30px;
  background-color: black;
  font-size: 25px;
}

@font-face {
  font-family: "font1";
  src: url(Mona-Sans.ttf);
}
body {
  background-color: black;
  font-family: "font1";
}

#table1 {
  border-radius: 20px;
  border: 2px solid gray;
  width: 774px;
  height: 731px;
  padding: 60px;
  margin: 200px 750px;
}
#table2 {
  border-radius: 10px;
  border: 2px solid gray;
  width: 700px;
  height: 30px;
  margin: 2px;
  padding: 30px 20px;
}
.table3 {
  border-radius: 10px;
  border: 2px solid gray;
  width: 150px;
  height: 30px;
  margin: 100px 10px;
  padding: 35px 20px;
}
.table4 {
  border-radius: 10px;
  border: 2px solid gray;
  width: 150px;
  height: 30px;
  margin: 100px 10px;
  padding: 30px 20px;
  background-color: white;
}
.font {
  color: gray;
}

.font2 {
  font-size: 32px;
  color: white;
}

.button-space {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

select {
  color: gray;
}
